html, body, #root {
  min-height: 100%;
}

html {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: rgba(0,0,0,0.87);
  padding: 48px;
  flex-direction: column;
}
